*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.counter-container{
    margin-top: 200px;
    text-align: center;
}
.counter-container h2{
    margin-top: 10px;
}
.input-container{
    margin-top: 15px;
}
.input-container input{
    padding: 9px;
    cursor: pointer;
}
.inc{
    background-color: green;
    color: #fff;
    border: none;
}
.inc:hover{
    background-color: rgb(13, 97, 13);
}
.dec{
    background-color: red;
    color: #fff;
    border: none;
}
.dec:hover{
    background-color: rgb(204, 19, 19);
}
.reset{
    background-color: #fff;
    border: none;
    border: 1px solid black;
}
.reset:hover{
    background-color: rgb(238, 230, 230);
}