*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navbar{
    display: flex;
    gap: 42rem;
    background-color: navy;
    color: #fff;
    height: 4rem;
}
.heading{
    margin-top: 1rem;
    margin-left: 2rem;
    font-family: Arial, Helvetica, sans-serif;
}
.unordered-list{
    display: flex;
    gap: 4rem;
    list-style-type: none;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 1.5rem;
    margin-right: 2rem;
    font-size: 0.9rem;
}
.menu-icon{
    font-size: 1.5rem;
    margin-right: 2rem;
    margin-top: 1.2rem;
    visibility: hidden;
}

@media (max-width: 768px) {
    .unordered-list {
        visibility: hidden;
        flex-direction: column;
        gap: 1rem;
        position: absolute;
        top: 2.5rem;
        right: -1.99rem;
        background-color: rgb(17, 17, 233);
        padding: 1rem;
    }
    
    .unordered-list.active {
        visibility: visible;
    }

    .menu-icon {
        visibility: visible;
    }
}